*,
::after,
::before
{
    box-sizing: border-box;
}
*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #ffebcd;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/* Center the gameboard */
.gameboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Ensures squares stay inside the board */
    margin: 10px auto;
    width: 80%; /* Define the total gameboard width */
    height: 70vh; /* Define the total gameboard height */
    border: 2px solid black; /* Optional: Add a border around the board */
    background-color: #707070; /* Optional: Add a background color */
}


.square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 20vh;
    margin: 5px;
    background-color: white;
    border: 1px solid black;
}


h1, p
{
  text-align: center;
  color: #440;
  margin: 10px;
}
.player-display
{
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}
.player-setup
{
    width: 80%;
    height: auto;
    display: flex;
    padding: 10px;
    text-align: left;
    justify-content: center;
    gap: 20px;
    margin: 10px auto;
    background-color: peru;
}
.players
{
    display: flex;
    flex-direction: column;

}
.players p
{
    color: black;
    font-size: 1.2rem;
}
label
{
    color: bisque;
    font-size: 1.5rem;
    font-weight: bold;
}
input,
select
{
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    color: #131300;
    font-weight: bold;
}
.btn{
    display: flex;
}
.btn #startGame
{
    width: 100%;
    padding: 10px;
    color: #ffffff;
    margin: auto 5px;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(28, 100, 0);
}
.btn #restartButton
{
    width: 90%;
    padding: 10px;
    color: #ffffff;
    margin: auto 5px;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}
.btn #restartButton:hover
{
    background-color: #ffffff;
    color: rgb(133, 0, 27);
}
.btn #startGame:hover
{
    background-color: #ffffff;
    color: rgb(18, 63, 0);
}
.score-display
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px auto;
    width: 40%;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #000000;
}